body {
  font-family: sans-serif;
}  

dialog {
  padding: 0;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

#modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

#modal-body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  padding: 0 20px;
}

#modal-footer {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.modalBtn {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 150px;
}

.saveBtn {
  background-color: #5cb85c;
}

.cancelBtn {
  background-color: #f44336;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

input, select {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid lightgray;
}
