body {
  font-family: sans-serif;
  margin: 0;
  padding: 15px;
}

.container {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

h1 {
  margin: 0;
  text-align: center;
}

h3 {
  margin: 0;
}

#addBtns {
  display: flex;
  justify-content: center;
  gap: 15px;
}

#addBtns button {
  background-color: #5cb85c;
  border: none;
  color: white;
  width: 150px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.disabled {
  opacity: 0.5;
}

table {
  table-layout: fixed;
  width: 90%;
  margin: 10px auto;
  border-collapse: collapse;
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
}

th, td {
  vertical-align: center;
  padding: 0.3em;
}

th:nth-child(4), td:nth-child(4) {
  text-align: right;
}

th:not(:nth-child(4)), td:not(:nth-child(4)) {
  text-align: left;
}

tbody tr:nth-child(odd) {
  background-color: #eeeeee;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

li {
  display: flex;
  justify-content: space-between;
}

dialog {
  padding: 0;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

#modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

#modal-body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  padding: 0 20px;
}

#modal-footer {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}

.modalBtn {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 150px;
}

.saveBtn {
  background-color: #5cb85c;
}

.cancelBtn {
  background-color: #f44336;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

input, select {
  padding: 8px;
  border-radius: 8px;
  border: 1px solid lightgray;
}

#resumen {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: lightgray;
  width: 90%;
  border-radius: 8px;
  padding: 15px;
  margin: auto;
}
